@import '~britecharts/dist/css/britecharts.min.css';

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 2rem 4rem;
}

.app-container {
  height: 100%;
  width: 100%;
}
